 <div class="body">
	 <div class="login">
		<input type="text" placeholder="username" name="user"><br>
		<input type="password" placeholder="password" name="password"><br>
		<input type="button" value="Login" onClick="window.location='index.html'">
	</div>
</div>
