<table class="table table-striped">
	<tr>
		<td>First Name</td>
		<td>Last Name</td>
	</tr>
<% @customers.each do |customer|%>
	<tr>
		<td><%= customer.first_name%></td>
		<td><%= customer.last_name%></td>
	</tr>
<%end%>
</table>