body.devise{ 
  background: url(login.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sign_in {
    text-align: center;
    background-color: rgba(192,192,192,0.3);
    position: relative;
    vertical-align: middle;
}
