body.devise{ 
  background: none;
  background-color: #534292;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 40%;
  margin: 0 auto;
  margin-top: 200px;
}

.sign_in {
    text-align: center;
   /* background: rgba(192,192,192,0.9);*/
    background: white;
    position: relative;
    vertical-align: middle;
    padding: 30px 40px;
    border-radius: 3px;
}
.forgot_password {
    text-align: center;
   /* background: rgba(192,192,192,0.9);*/
    background: white;
    position: relative;
    vertical-align: middle;
    padding: 30px 40px;
    border-radius: 3px;
}
