#header {
	float: left;
}

#header h1 {
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
	font-size: 33px;	
	letter-spacing: -1px;
	margin-top: 5px;
}

#topmenu {
	float: right;
}

#navlist {
	 display: table;
}

 .navli {
    display: table-cell;
    padding-right: 10px;
    padding-top: 5px;
    white-space: nowrap;
    list-style-type: none !important;
}


.navbar {
	background-color: transparent;
	border-bottom: 5px solid #7599a9 !important;
} 

