
#top {
	background-image:url(header.jpg);
	padding: 0 10px;
	height: 70px;
	line-height: 70px;
	border-bottom: 5px solid #7599a9;
}

#header {
	float: left;
}

#header h1 {
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
	font-size: 33px;	
	letter-spacing: -1px;
	margin-top: 5px;
}

#topmenu {
	float: right;
}


#topmenu li { 
	display: inline; 
	padding: 0 0 0 20px;
}


