<nav class="navbar navbar-inverse navbar-fixed-bottom">
	<div id="footer">
		<div class="left">
			Copyright &copy; by <a href="#"> Vidhwath Technologies</a>
		</div>

		<div class="right">
		  <p>
		             Design by <a href="">Vidhwath</a>
		    </p>
		</div>
	</div>	
</nav>
