<div id="top">
	<div id="header">
 		<h1 class="h1"><strong>Sanju Star TV<span class="h1"></span></strong></h1>
 	</div>

	 <div id="topmenu">
		<ul>
			<li><%= link_to "Home", root_path ,:class=> "btn btn-large btn-primary" ,method: :get%></li>   
			<li><%= link_to "Plans", plans_path ,:class=> "btn btn-large btn-primary" ,method: :get%></li>   
			<li><%= link_to "Customer Managment", customer_path ,:class=> "btn btn-large btn-primary" ,method: :get%></li>   
			<li><%= link_to "Logout", destroy_user_session_path ,:class=> "btn btn-large btn-primary" ,method: :delete%></li>   
		</ul>
	</div> 
</div>

