<div class="cleft">
	<ul>
		<li><a href="/customers/new">Add New Customer</a></li>
		<li><a href="/zones/new">Add New Zone</a></li>
		<li><a href="/customers">Customer Search</a></li>
	</ul>
	<ul>
		<li><a href="#">Employee Contacts</a></li>
		<li><a href="#">Complains log</a></li>
	</ul>
</div>
