<div class="cleft">
	<ul>
		<li><a href="/customers">Customer Managment</a></li>
		<li><a href="/zones">Zone Managment</a></li>
	</ul>
	<ul>
		<li><a href="#">Employee Contacts</a></li>
		<li><a href="#">Complains log</a></li>
	</ul>
</div>
