<div class="cleft">
	<ul>
		
		<li><a href="/zones">Zone Managment</a></li>
	</ul>
	<ul>
		<li><a href="/inventories">Inventory Managment</a></li>
		<li><a href="/employees">Employee Managment</a></li>
		<li><a href="/complaints">Complains log</a></li>
	</ul>
</div>
